<div style="display: flex; align-items: center; gap: 2rem; background-color: navy; padding: 0 1rem; margin-bottom: 1rem;">
  <div>
    <a href="/courselist" style="text-decoration: none; color: white; margin: 1rem">All Courses</a>
    <a href="/profile" style="text-decoration: none; color: white; margin: 1rem">My Profile</a>
    <a href="/logout" style="text-decoration: none; color: white">Log Out</a>
  </div>
</div>